assets/res/swf
build/xcode
cocos-lua.sublime-workspace
frameworks/runtime-src/proj.ios_mac/cocos-lua.xcodeproj/project.xcworkspace/xcshareddata
frameworks/runtime-src/proj.ios_mac/cocos-lua.xcodeproj/project.xcworkspace/xcuserdata
frameworks/runtime-src/proj.ios_mac/cocos-lua.xcodeproj/xcuserdata
