cocos-xgame.sublime-workspace
template/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build
template/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
template/frameworks/libxgame/proj.android/libxgame.iml
template/frameworks/runtime-src/proj.android/.idea
template/frameworks/runtime-src/proj.android/app/cocos-xgame.iml
template/frameworks/runtime-src/proj.android/proj.android.iml
template/runtime
template/frameworks/libxgame/proj.android/build
