<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cclua.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <!-- cameraroll -->
        <activity
            android:name="cclua.plugin.photo.Photo"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

    </application>
</manifest>
