<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kernel.plugins.talkingdata">
    <application>
        <!-- talkingdata -->
        <service
            android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService">  <!--用户质量评估Service可以配置在主进程或者单独进程-->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>
    </application>
</manifest>
