name: windows

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Create Build Environment
      run: cmake -E make_directory build

    - name: Configure CMake
      shell: cmd
      working-directory: build
      run: cmake %GITHUB_WORKSPACE% -DCMAKE_BUILD_TYPE=%BUILD_TYPE% -A Win32

    - name: Build
      working-directory: build
      shell: cmd
      run: cmake --build . --target cocos-lua --config %BUILD_TYPE%